.leftbar {
  float: left;
  width: 33.3333%;
  text-align: center;
}

.color1 {
  background-color: lightcoral;
}

.color2 {
  background-color: lightgreen;
}

.color3 {
  background-color: lightblue;
}

.centered-image {
  margin: auto;
  height: auto;
  display: block;
}

h1 {
  text-align: center;
}